body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

#text-editor {
    width: calc(100% - 20px);
    height: 200px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 20px;
    outline: none;
    text-align: left;
    background-color: #fff;
    overflow-y: auto;
}

#text-editor::-webkit-scrollbar {
    width: 8px;
}

#text-editor::-webkit-scrollbar-track {
    background: #f4f4f4;
    border-radius: 8px;
}

#text-editor::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 8px;
}

#text-editor::-webkit-scrollbar-thumb:hover {
    background: #0056b3;
}

.buttons {
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

label {
    margin-right: 10px;
}

select, input[type="color"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#toggle-theme {
    display: center;
    margin-top: 30px;
    padding: 10px 15px;
    width: fit-content;
}

.dark-mode {
    background-color: #333;
    color: white;
}

.dark-mode .container {
    background-color: #444;
}

.dark-mode button {
    background-color: #ff9800;
}

.dark-mode button:hover {
    background-color: #e68900;
}

.dark-mode #text-editor {
    background-color: #666;
    color: white;
    border-color: #888;
}